.DS_Store
utils/__pycache__/img_input.cpython-311.pyc
photo/create/img_filp_0.jpg
photo/create/img_filp_1.jpg
photo/create/img_filp_2.jpg
*.mp4
font/setofont.ttf
font/Noto_Sans_TC/NotoSansTC-Black.otf
font/Noto_Sans_TC/NotoSansTC-Bold.otf
font/Noto_Sans_TC/NotoSansTC-Light.otf
font/Noto_Sans_TC/NotoSansTC-Medium.otf
font/Noto_Sans_TC/NotoSansTC-Regular.otf
font/Noto_Sans_TC/NotoSansTC-Thin.otf
font/Noto_Sans_TC/OFL.txt
